<?xml version="1.0"?>
<robot name="rover_arm">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/base_link.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/base_link.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_0">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_link_0.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_link_0.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_link_1.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_link_1.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_link_2.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_link_2.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_3">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_link_3.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_link_3.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_link_4">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_link_4.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_link_4.stl"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_hand">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/dae_files/arm_hand.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://ik_interface/urdf/stl_files/arm_hand.stl"/>
      </geometry>
    </collision>
  </link>


  <joint name="base_to_link_0" type="fixed">
    <parent link="base_link"/>
    <child link="arm_link_0"/>
  </joint>



</robot>