<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rover_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
                <param name="can">can0</param>
            </hardware>
            <joint name="base_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">0</param>
            </joint>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">1</param>
            </joint>
            <joint name="elbow_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">2</param>
            </joint>
            <joint name="elbow_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">3</param>
            </joint>
            <joint name="wrist_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">4</param>
            </joint>
            <joint name="gripper_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <param name="node_id">5</param>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
